[Unit]
Description=Minecraft Server: %i
#Waits for network drivers to begin operation
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/opt/minecraft/%i
#Ensures Each command is triggered in sequential order. Next command does not start before previous one is finished
Type=oneshot

User=minecraft
Group=minecraft

Restart=on-failure
RestartSec=60s

#Runs backup script
ExecStartPre=/bin/bash /opt/minecraft/%i/backup.sh
#Runs update script
ExecStartPre=/bin/bash /opt/minecraft/%i/update_server.sh
#Starts minecraft server
ExecStart=/usr/bin/screen -DmS mc-%i /usr/bin/java -Xmx6G -Xms6G -jar server.jar gui

#Triggers shutdown of server
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "say Shutown request approved. Server is shutting down in 15 seconds..."\015'
ExecStop=/bin/sleep 15
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "save-all"\015'
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "stop"\015'

[Install]
WantedBy=multi-user.target
